<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700" rel="stylesheet">
    <script src="js/scripts.js"></script>
    <link rel="stylesheet" href="/Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  @RenderBody()
</html>
