USE [master]
GO
/****** Object:  Database [persona_five]    Script Date: 6/19/2017 7:20:26 PM ******/
CREATE DATABASE [persona_five]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'persona_five', FILENAME = N'C:\Users\pdlaz\persona_five.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'persona_five_log', FILENAME = N'C:\Users\pdlaz\persona_five_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [persona_five].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [persona_five]
GO
USE [persona_five]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 6/19/2017 7:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[answer] [varchar](255) NULL,
	[type] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 6/19/2017 7:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](255) NULL,
	[type] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions_answers]    Script Date: 6/19/2017 7:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions_answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NULL,
	[answer_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shadows]    Script Date: 6/19/2017 7:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shadows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[intro] [varchar](255) NULL,
	[img] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shadows_answers]    Script Date: 6/19/2017 7:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shadows_answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shadow_id] [int] NULL,
	[answer_id] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
