USE [persona_five]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[answer] [varchar](255) NULL,
	[type] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[players]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[chosen] [bit] NULL,
	[image] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[questions]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](255) NULL,
	[type] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[questions_answers]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions_answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NULL,
	[answer_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[shadows]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shadows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[intro] [varchar](255) NULL,
	[img] [varchar](255) NULL,
	[player_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[shadows_answers]    Script Date: 6/21/2017 4:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shadows_answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shadow_id] [int] NULL,
	[answer_id] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[answers] ON 

INSERT [dbo].[answers] ([id], [answer], [type]) VALUES (1, N'Somewhere I can cry...', N'gloomy')
INSERT [dbo].[answers] ([id], [answer], [type]) VALUES (2, N'A 5-star restaurant', N'irritable')
INSERT [dbo].[answers] ([id], [answer], [type]) VALUES (3, N'Your mom''s house! Amirite?!', N'upbeat')
SET IDENTITY_INSERT [dbo].[answers] OFF
SET IDENTITY_INSERT [dbo].[players] ON 

INSERT [dbo].[players] ([id], [name], [chosen], [image]) VALUES (1, N'Ann Takamaki', 0, NULL)
INSERT [dbo].[players] ([id], [name], [chosen], [image]) VALUES (2, N'Ryuji Sakamoto', 0, NULL)
INSERT [dbo].[players] ([id], [name], [chosen], [image]) VALUES (3, N'Morgana', 0, NULL)
SET IDENTITY_INSERT [dbo].[players] OFF
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([id], [question], [type]) VALUES (1, N'If you were to take me on a date, where would we go?!', N'gloomy')
INSERT [dbo].[questions] ([id], [question], [type]) VALUES (2, N'If you were to give me a present, what would it be?', N'gloomy')
INSERT [dbo].[questions] ([id], [question], [type]) VALUES (3, N'What kind of food is my favorite?', N'gloomy')
GO
SET IDENTITY_INSERT [dbo].[questions] OFF
SET IDENTITY_INSERT [dbo].[questions_answers] ON 

INSERT [dbo].[questions_answers] ([id], [question_id], [answer_id]) VALUES (1, 1, 1)
INSERT [dbo].[questions_answers] ([id], [question_id], [answer_id]) VALUES (2, 1, 2)
INSERT [dbo].[questions_answers] ([id], [question_id], [answer_id]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[questions_answers] OFF
SET IDENTITY_INSERT [dbo].[shadows] ON 

INSERT [dbo].[shadows] ([id], [name], [type], [intro], [img], [player_id]) VALUES (1, N'ArSEne ', N'upbeat', N'Hey there, lil feller! Isn''t it a beautiful day for being alive? You look like someone I could be a best friend with.', N'../Content/img/arsene.png', NULL)
INSERT [dbo].[shadows] ([id], [name], [type], [intro], [img], [player_id]) VALUES (2, N'CapTAin KiDd', N'upbeat', N'Ahoy there, matey! Don''t you just love the smell of the ocean breeze? You should join my crew, as long as you''re not a salty landlubber.', N'../Content/img/captain-kidd.png', NULL)
INSERT [dbo].[shadows] ([id], [name], [type], [intro], [img], [player_id]) VALUES (3, N'CArmen ', N'irritable', N'Oh great, another pitiful loser has come to worship me. I don''t have time for this. Get in line.', N'../Content/img/carmen.png', NULL)
SET IDENTITY_INSERT [dbo].[shadows] OFF
SET IDENTITY_INSERT [dbo].[shadows_answers] ON 

INSERT [dbo].[shadows_answers] ([id], [shadow_id], [answer_id]) VALUES (1, 1, 3)
INSERT [dbo].[shadows_answers] ([id], [shadow_id], [answer_id]) VALUES (2, 1, 7)
INSERT [dbo].[shadows_answers] ([id], [shadow_id], [answer_id]) VALUES (3, 1, 11)
SET IDENTITY_INSERT [dbo].[shadows_answers] OFF
