@{
  Layout="Shared/_Layout.cshtml";
}
<body class="about">
  <a class="mask"href="/"><img src="../Content/img/mask.png" alt=""></a>

  <img class="zigzag" src="../Content/img/zigzag.svg" alt="">
  <div class="pete">
    <div class="background-pete">

    </div>
    <h2>P<span class="inverse">e</span>tE - C<span class="inverse">#</span></h2>
    <h3><a href="https://github.com/NaruzaL">Code Name: NaruzaL</a></h3>
  </div>
  <div class="isabella">
    <div class="background-isabella">

    </div>
    <h2>Is<span class="inverse">A</span>beL<span class="inverse">l</span>a - <span class="inverse">C</span>SS</h2>
    <h3><a href="https://github.com/Sigtaba">Code Name: Sigtaba</a></h3>
  </div>
  <div class="james">
    <div class="background-james">

    </div>
    <h2><span class="inverse">J</span>Am<span class="inverse">e</span>s - CS<span class="inverse">S</span></h2>
    <h3><a href="https://github.com/Jlannon90">Code Name: Jlannon90</a></h3>
  </div>
  <div class="andrew">
    <div class="background-andrew">

    </div>
    <h2>A<span class="inverse">n</span>dRe<span class="inverse">W</span> - <span class="inverse">C</span>#</h2>
    <h3><a href="https://github.com/drewlinn">Code Name: drewlinn</a></h3>
  </div>
  <audio src="../Content/music/night-rain.mp3" autoplay>
  </audio>
</body>
