<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Content/css/main.css" type="text/css">
    <script src="js/scripts.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About the Developers</title>
  </head>
  <body>
    <div class="container">
      <section class="timeline">
        <div class="title">
          <h2>A Historical Timeline</h2>
        </div>
        <ul>
          <li>
            <div class="box">
              <time>1994</time>
              <p>Tim and Eric meet at Temple University</p>
            </div>
          </li>
          <li class="in-view">
            <div>
              <time>2001</time>
              <p>Sent tape of skits to Bob Odenkirk</p>
            </div>
          </li>
          <li>
            <div>
              <time>11.14.2004</time>
              <p>Tom Goes to the Mayor premiers</p>
              <!-- <img src="img/main/tgttm.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>02.11.2007</time>
              <p>Tim &amp; Eric Awesome Show, Great Job!</p>
              <!-- <img src="img/main/teasgj.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>05.16.2010</time>
              <p>Check it Out! with Dr. Steve Bule</p>
              <!-- <img src="img/main/checkitout.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>03.02.2012</time>
              <p>Tim &amp; Eric's Billion Dollar Movie</p>
              <!-- <img src="img/main/billiondollar.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>11.09.2012</time>
              <p>The Comedy</p>
              <!-- <img src="img/main/thecomedy.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>10.31.2013</time>
              <p>Tim &amp; Eric's Bed Time Stories Pilot:</p>
              <p>Haunted House</p>
              <p>Ft. Zach Galafianakis</p>
              <!-- <img src="img/main/hauntedhouse.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>09.18.2014</time>
              <p>Tim &amp; Eric's Bed Time Stories</p>
              <!-- <img src="img/main/angelboy.jpg" alt=""> -->
            </div>
          </li>
          <li>
            <div>
              <time>07.07.2015</time>
              <p>Zone Theory</p>
              <!-- <img src="img/main/zonetheory.jpg" alt=""> -->
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
