<!DOCTYPE html>
<html>
  <body>
    <h2>You have captured @Model.GetShadowName()</h2>
    <img src="@Model.GetImg()" alt="@Model.GetShadowName()" />
    <p><a href="/">Back to Start</a></p>
  </body>
</html>
