<!-- @{
  Layout="Shared/_Layout.cshtml";
} -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="capture">
    <h2 class="name">Y<span class="inverse">o</span>u ha<span class="inverse">v</span>e ca<span class="inverse">p</span>tu<span class="inverse">r</span>ed </br> <span class="inverse">C</span>armen</h2>
    <img class="shadow" src="../Content/img/carmen.png" alt="carmen" />
    <p><a id="back" href="/"><span class="inverse">ne</span>w <span class="inverse">g</span>a<span class="inverse">me</span></a></p>
    <audio src="../Content/music/night-rain.mp3" autoplay>
    <embed src="../Content/music/night-rain.mp3" width="180" height="90" hidden="true" />
    </audio>
  </body>
</html>
