<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>You have captured @Model.GetShadowName()</h2>
    <img src="@Model.GetImg()" alt="@Model.GetShadowName()" />
    <p><a href="/">Back to Start</a></p>
  </body>
</html>
