<!---////Original Code////---->
<!-- <img src="@Model["shadow"].GetImg()" alt="@Model["shadow"].GetShadowName()">
<h2>@Model["shadow"].GetShadowName()</h2>
<br>
<h3>@Model["shadow"].GetIntro()</h3>
<h4>@Model["question"].GetQuestionName()</h4>
<br>
<form>
</select>
 <select name = "answer-id">
   @foreach(var answer in @Model["answers"])
   {
     <option value="@answer.GetId()">@answer.GetAnswerName()</option>
   }
   <input type="hidden" name="shadow-id" value="@Model["shadow"].GetId()">
 </select>
 <button type="submit">Submit</button>
</form> -->
<!---////Original Code////---->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="first-question">
    <img class="shadow" src="../Content/img/arsene.png" alt="">
    <h2>Arsene</h2>
    <h3>Hey there lil feller! Isn't it a beautiful day for being alive?!  You look like someone I could be a best friend with.</h3>
    <h4>If you were to take me on a date, where would we go?!</h4>
    <form>
      <select class="" name="answer-id">
        <option value="gloomy">Somewhere I can cry...</option>
        <option value="upbeat">Your mom's house! Amirite?!</option>
        <option value="irritable">A 5-Star restaurant</option>
      </select>
      <button type="submit" name="button">Reply</button>
    </form>
  </body>
</html>
