<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="landing-page">
    <div class="container">
      <h1 id="title1">Pe<span class="inverse">r</span>So<span class="inverse">n</span>A 5</h1>
      <h1 id="title2">S<span class="inverse">h</span>adOw Co<span class="inverse">l</span>lEc<span class="inverse">T</span>oR</h1>
      <a href="/first_question/ask" id="play"><span class="inverse">pL</span>a<span class="inverse">y</span></a>
    </div>
  </body>
</html>
