@{
  Layout="Shared/_Layout.cshtml";
}

  <body class="result">
  <img class="shadow" src="/result/@Model["shadow"].GetImg()" alt="pic of @Model["shadow"].GetShadowName()">

  <h2 class="name">@Model["shadow"].GetShadowName()</h2>

  @if (@Model["answer"].GetAnswerType() == @Model["shadow"].GetShadowType())
  {
    <div class="speech">
      <h4 class="shadow-response">You got me</h4>
    </div>
    <a id="victory" href="/capture/@Model["shadow"].GetId()">Vi<span class="inverse">c</span>TO<span class="inverse">R</span>y</a>
  }
  else
  {
    <div class="speech">
      <h4>Not happening... try teaming up with someone else.</h4>
    </div>
    <a id="result-play" href="/">T<span class="inverse">R</span>y A<span class="inverse">G</span>ai<span class="inverse">N</span></a>
  }
  </body>
</html>
